import { {{sentenceCase name}}Props } from "./types";

export const {{sentenceCase name}} = (props: {{sentenceCase name}}Props) => {
  return (
    <div data-{{kebabCase group}}="{{kebabCase name}}">
      <h1>Welcome to {{sentenceCase name}} {{kebabCase group}}</h1>
    </div>
  );
}

