import { {{properCase name}}Props } from "./types";

export const {{properCase name}} = (props: {{properCase name}}Props) => {
  return (
    <div data-{{kebabCase group}}="{{kebabCase name}}">
      <h1>Welcome to {{properCase name}} {{kebabCase group}}</h1>
    </div>
  );
}

